# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Keep VS Code launch & task configurations shared, ignore other vscode settings
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Java / Maven build files
**/target/
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Node / Frontend build files
**/node_modules/
**/dist/
**/build/
.npm
.eslintcache

# Logs and databases
*.log
logs/
**/logs/
*.db
*.sqlite

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
